h1{
    color: #00E386;
 
}
td{
    color: #00E386;
}
p{
    text-align: center;
    color: #00E386;
}
#b{
    text-align: center;
}
#c{
    text-align: center;
}
h2{
    text-align: center;
}
